/*
P {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 16px; FONT-FAMILY: verdana, geneva, arial, sans-serif
}
TABLE {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 16px; FONT-FAMILY: verdana, geneva, arial, sans-serif
}
TR {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 16px; FONT-FAMILY: verdana, geneva, arial, sans-serif
}
TD {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 16px; FONT-FAMILY: verdana, geneva, arial, sans-serif
}
TH {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 16px; FONT-FAMILY: verdana, geneva, arial, sans-serif
}
*/

A:visited {
	FONT-WEIGHT: normal; COLOR: #999999; TEXT-DECORATION: underline
}
A:link {
	FONT-WEIGHT: normal; COLOR: #333333; TEXT-DECORATION: underline
}
A:hover {
	FONT-WEIGHT: normal; COLOR: #666666; TEXT-DECORATION: underline
}

/* green2.html */

.dalee {
	FONT-SIZE: 9px; COLOR: #E45F2A; LINE-HEIGHT: 20px; FONT-FAMILY: verdana, geneva, arial, sans-serif
}
.predate {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #666666; FONT-FAMILY: verdana, geneva, arial, sans-serif
}
.date {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #333333; FONT-FAMILY: verdana, geneva, arial, sans-serif
}
.newstheme {
	TEXT-VALIGN: middle; FONT-WEIGHT: bold; FONT-SIZE: 12px; LINE-HEIGHT: 30px; COLOR: #E45F2A; FONT-FAMILY: verdana, geneva, arial, sans-serif
}
.righttext {
	TEXT-ALIGN: justify; FONT-SIZE: 11px; COLOR: #666666; LINE-HEIGHT: 16px; FONT-FAMILY: verdana, geneva, arial, sans-serif
}
.ending {
	TEXT-ALIGN: center; FONT-SIZE: 10px; COLOR: #000000; LINE-HEIGHT: 15px; FONT-FAMILY: verdana, geneva, arial, sans-serif
}
.itagency {
 	FONT-SIZE: 9px; COLOR: #cc3333; LINE-HEIGHT: 15px; FONT-FAMILY: verdana, geneva, arial, sans-serif
}
.title {
	FONT-WEIGHT: bold; BACKGROUND-COLOR: #E2E2E2; FONT-SIZE: 11px; COLOR: #000000; LINE-HEIGHT: 16px; FONT-FAMILY: verdana, geneva, arial, sans-serif
}
.title_2 {
	TEXT-ALIGN: right; FONT-WEIGHT: bold; BACKGROUND-COLOR: #E2E2E2; FONT-SIZE: 11px; COLOR: #000000; LINE-HEIGHT: 16px; FONT-FAMILY: verdana, geneva, arial, sans-serif
}
.top_choose {
	TEXT-ALIGN: right; BACKGROUND-COLOR: #E2E2E2; FONT-SIZE: 10px; COLOR: #000000; LINE-HEIGHT: 42px; FONT-FAMILY: verdana, geneva, arial, sans-serif
}



/* green2-music.html */

.music_titles {
	FONT-WEIGHT: bold; TEXT-ALIGN: left; FONT-SIZE: 11px; COLOR: #666666; LINE-HEIGHT: 15px; FONT-FAMILY: verdana, geneva, arial, sans-serif
}
.music_authors {
	FONT-WEIGHT: bold; TEXT-ALIGN: left; FONT-SIZE: 11px; COLOR: #888888; LINE-HEIGHT: 15px; FONT-FAMILY: verdana, geneva, arial, sans-serif
}
.music_albumtitle {
	TEXT-ALIGN: center; FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #444444; LINE-HEIGHT: 30px; FONT-FAMILY: verdana, geneva, arial, sans-serif
}


.irony {
	FONT-SIZE: 12px; COLOR: #cc3333; LINE-HEIGHT: 16px; FONT-STYLE: italic; FONT-FAMILY: verdana, geneva, arial, sans-serif
}
.moderator {
	FONT-SIZE: 12px; COLOR: #666666; LINE-HEIGHT: 16px; FONT-STYLE: italic; FONT-FAMILY: verdana, geneva, arial, sans-serif
}
.small {
	FONT-SIZE: 11px; COLOR: #666666; LINE-HEIGHT: 13px; FONT-FAMILY: verdana, geneva, arial, sans-serif
}
.small2 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #666666; LINE-HEIGHT: 13px; FONT-FAMILY: verdana, geneva, arial, sans-serif
}
.news {
	TEXT-ALIGN: justify; FONT-SIZE: 11px; COLOR: #666666; LINE-HEIGHT: 15px; FONT-FAMILY: verdana, geneva, arial, sans-serif
}
.greetings {
	FONT-SIZE: 11px; COLOR: #000000; LINE-HEIGHT: 16px; FONT-FAMILY: verdana, geneva, arial, sans-serif
}

.menu {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #528b94; FONT-FAMILY: verdana, geneva, arial, sans-serif; TEXT-DECORATION: none
}
.topline {
	FONT-SIZE: 10px; COLOR: #666666; LINE-HEIGHT: 13px; FONT-FAMILY: verdana, geneva, arial, sans-serif
}
.breaking {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 16px; FONT-FAMILY: verdana, geneva, arial, sans-serif; BACKGROUND-COLOR: #ff0000
}
.current {
	COLOR: #000000; BACKGROUND-COLOR: #f7f7f7
}